.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, #6eda78, #ffa200);
  max-width: 100vw;
  min-height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 80vw;
    margin: 100px auto 2rem;
    height: 100%;
  }
}
